In [1]:
"foo"/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [6]:
list(range(1,5))

[1, 2, 3, 4]

In [11]:
def f1(a,b,c=3):
    (a+b)**c

type(f1(2,3))

NoneType

In [21]:
n=[1,2,3,4,5]
n1 = map(lambda x:x+1, n)
list(n1)

[2, 3, 4, 5, 6]

In [22]:
pets = ["cat","dog","lizard", "fish", "hamster", "rabbit", "bird"]
f=lambda x: len(x) <= 4
print(list(filter(f,pets)))

['cat', 'dog', 'fish', 'bird']

In [23]:
f=open('not.txt','r')

FileNotFoundError: [Errno 2] No such file or directory: 'not.txt'

In [26]:
f=open("scores.txt",'w')
f.write('89')

2

In [29]:
import pandas as pd

In [32]:
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
df = pd.DataFrame(data=d, index=[0, 1, 2, 3])

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int64
 1   col2    2 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 96.0 bytes

In [34]:
df.head()

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [35]:
df.summarize()

AttributeError: 'DataFrame' object has no attribute 'summarize'

In [36]:
df.tail()

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [37]:
df.describe()

           col1      col2
count  4.000000  2.000000
mean   1.500000  2.500000
std    1.290994  0.707107
min    0.000000  2.000000
25%    0.750000  2.250000
50%    1.500000  2.500000
75%    2.250000  2.750000
max    3.000000  3.000000

In [39]:
df = pd.DataFrame({'length':[87,37,12,68]})

In [40]:
df['size'] = ['Small' if a<=35 else 'Medium' if a< 85 else 'Large' for a in df['length']]

In [41]:
df

   length    size
0      87   Large
1      37  Medium
2      12   Small
3      68  Medium

In [44]:
def f(a):
    if a<=35:
        return 'Small'
    elif a<=85:
        return 'Medium'
    else:
        return 'Large'

df['size2'] = df['length'].apply(f)
df

   length    size   size2
0      87   Large   Large
1      37  Medium  Medium
2      12   Small   Small
3      68  Medium  Medium

In [45]:
for x in range(2,17,2.5):
    print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [46]:
5e+4

50000.0

In [48]:
arrayOne = [2,4,6,8]
arrayTwo = [2,4,6,8]
print(arrayOne == arrayTwo)
print(arrayOne is arrayTwo)

True
False

In [49]:
a = {'a':1, 'b':2, 'a':'b'}
print(a)

{'a': 'b', 'b': 2}